@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*     font-family: 'Oswald', sans-serif;
 */
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

img{
    background: transparent;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 10%;
    margin: 5px auto;
    border: 1px solid #51669b;
}
section {
    background: white;
    width: 100%;
    margin: auto;
}

/* navigation section */

nav {
    position: sticky;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    z-index: 100;
    font-size: 18px;
}

.navigation-pane {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.left-nav {
    text-align: left;
    flex-basis: 40%;
    margin: auto;
    font-weight: 600;
    font-size: 20px;
}



.left-nav ul {
    display: flex;
    justify-content: space-between;
}

.left-nav ul li {
    cursor: pointer;
    list-style: disc;
    padding-right: 5px;
    transition: .5s;
}

.left-nav ul li:hover a {
    color: #7797e6;
}

.logo-div {
    flex-basis: 35%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.logo-div img {
    width: 30%;
}

.right-nav {
    flex-basis: 30%;
    text-align: right;
    margin: auto;
}

.book-btn {
    background: #7797e6;
    padding: 20px;
    border-radius: 15px;
    color: white;
    transition: .7s;
}

.top-btn {
    position: relative;
    top: 80px;
}

.book-btn:hover {
    background: transparent;
    color: #7797e6;
}

.menu-btn-div {
    width: 45px;
    height: 45px;
    background: #7797e6;
    text-align: center;
    position: fixed;
    left: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    display: none;
}

.menu-btn {
    padding-top: 10px;
    width: 50%;
}

.mobile-menu {
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    height: 250px;
    background: #7797e6;
    z-index: 5;
    transition: top ease-in .5s;
    padding: 10px;
    margin: auto;
    display: none;
}


.mobile-menu.opened {
    top: 0;
}

.slidein-menu {
    position: relative;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
    cursor: pointer;
}

.slidein-menu ul {
    height: 100%;
    padding: 10px;
    justify-content: left;
    align-items: center;
}

.slidein-menu ul li {
    margin: 25px 0;
    transition: .5s;
}

.slidein-menu ul li:hover a {
    color: white;
}

/* media screen for navigation bar */
@media screen and (max-width:1100px) {
    .left-nav {
        font-size: 18px;
    }
}

@media screen and (max-width:950px) {
    .left-nav {
        font-size: 15px;
    }

    .logo-div img {
        width: 40%;
    }
    
}


@media screen and (max-width:850px) {
    .left-nav {
        display: none;
    }

    .logo-div img {
        width: 60%;
    }

    .menu-btn-div, .mobile-menu {
        display: inline-block;
    }

    .navigation-pane {
        width: 70%;
        margin: auto 0 auto 150px;
        display: flex;
        padding: 5px 0;
    }

    
}


@media screen and (max-width:550px) {
    
    .first-book-btn {
        background: #7797e6;
        padding: 10px;
        border-radius: 7px;
        font-size: 15px;
    }

    .logo-div img {
        width: 70%;
    }
    
}



/* carousel - section */

#carousel {
    margin-top: 1em;
    background: #efefef;
    position: relative;
    width: 100%;
}

.carousel {
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
    background: #1D212B;
}

.carousel-item {
    position: absolute;
    z-index: 1;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.carousel-item.active {
    clip-path: circle(150% at 0 50%);
    transition: 1.5s;
    transition-property: clip-path;
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    z-index: 1;
    border-radius: 5px;
}

.navigation-btn {
    position: absolute;
    align-items: center;
    height: 50px;
    bottom: 30px;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 3;
}

.slider-btn {
    background: rgba(255, 255, 255, 0.5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;

}

.slider-btn.active {
    background: rgba(255, 255, 255, 1);
}

.slider {
    width: 90%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slider-item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}


.slider-item img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slider > a {
    display: inline-flex;
    width: 15px;
    height: 15px;
    background: grey;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    top: -20px;
    padding: 10px;
}

.btn-selected {
    background:#7797e6 !important;
}

.info-div {
    display: block;
    margin-top: 50px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 20%;
    text-align: center;
}

.large-title {
    font-size: 60px;
    color: white;
    justify-content: center;
}

.small-title {
    font-size: 35px;
    color: white;
    font-weight: 400;
    font-style: oblique;
}

.s-btn {
    font-size: 20px;
    display: inline-block;
    padding: 15px 75px;
    margin-top: 5em;
}




/* media screen for smaller screens */

@media screen and (max-width: 850px) {
    .large-title {
        font-size: 50px;
    }

    .small-title {
        font-size: 28px;
    }

    .l-btn {
        padding: 13px 45px;
        border-radius: 10px;
        font-size: 20px!important;
    }
}

@media screen and (max-width: 750px) {
    .info-div {
        left: 15%;
    }
}

@media screen and (max-width: 690px) {
    .large-title {
        font-size: 40px;
    }

    .info-div {
        left: 10%;
    }

    .small-title {
        font-size: 24px;
    }

    .l-btn {
        padding: 13px 40px;
        font-size: 18px!important;
    }
}

@media screen and (max-width:600px) {
    .slider-item {
        height: 600px;
    }
}

@media screen and (max-width: 550px) {
    .large-title {
        font-size: 35px;
    }

    .small-title {
        font-size: 20px;
    }

    .l-btn {
        padding: 9px 30px;
        font-size: 15px!important;
    }

    .info-div {
        left: 10%;
    }
}

/* second section */


#hero1 {
    margin-top:50px ;
}
.hero-title {
    text-align: center;
    color: #7797e6;
    margin-bottom: 50px;
}

.flex-div {
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.tiles {
    flex-basis: 30%;
    align-items: center;
    text-align: center;
}

.tiles-img {
    width: 100%;
    border-radius: 15px;
    z-index: 2;
    position: relative;
}

.tiles-desc {
    margin: auto auto;
    text-align: center;
    background: #7797e6;
    position: relative;
    top: -25px;
    z-index: 1;
    padding: 50px;
    border-radius: 15px;
    height: 200px;
}

.tiles-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.tiles-info {
    font-size: 18px;
}

.appointment-div {
    width: 80%;
    margin: 35px auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.some-text {
    font-size: 30px;
    color: #7797e6;
    margin: auto;
}

.l-btn {
    padding: 15px 70px;
    border-radius: 10px;
    font-size: 25px;
}


.reasons-div {
    width: 90%;
    margin: 70px 0 50px 70px ;
    display: flex;
    justify-content: space-between;
}

.reasons-answer {
    width: 60%;
}

.answers {
    font-weight: 200;
    justify-content: left;
    font-size: 18px;
    width: 90%;
}


.mirror-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #7797e6;
    padding: 10px;
}

@media screen and (max-width:1120px) {
    .tiles-desc {
        padding: 38px;
    }
}

@media screen and (max-width: 950px) {
    .tiles-desc {
        padding: 32px;
    }

    .some-text {
        font-size: 25px;
    }

    .mirror-image{
        width:250px;
        height: 250px;
    }

    .l-btn {
        padding: 15px 50px!important;
        border-radius: 10px;
        font-size: 25px;
    }
}

@media screen and (max-width: 850px) {
    .tiles-desc {
        padding: 28px;
    }

    .mirror-image{
        width:200px;
        height: 200px;
    }
}

@media screen and (max-width: 710px) {
    .flex-div {
        flex-direction: column;
    }

    .appointment-div {
        display: none;
    }

    .tiles-desc {
        padding: 50px;
        width: 80%;
    }

    .tiles-img {
        width: 80%;
        border-radius: 15px;
        z-index: 2;
        position: relative;
    }

    .reasons-div {
        flex-direction: column;
    }

    .reasons-answer {
        width: 100%;
    }

    .mirror-image {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .answers {
        font-size: 15px;
    }
}

/* second hero styling  */

#hero2 {
    background: url(images/hero2-background\(1\).jpg);
    margin: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
}

.content-div {
    width: 92%;
    margin: auto;
    padding: 24px;
}

.content-title {
    font-size: 25px;
    color: white;
    text-align: center;
}

.content-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    text-align: center;flex-wrap: wrap;
}

.items {
    flex-basis: 30%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    max-width: 100%;
    transition: .7s;
    cursor: pointer;
}

.items:hover {
    transform: translateY(-10px);
}

.content-image {
    width: 30%;
}

.uppercase-text {
    text-transform: uppercase;
}

.blue-title {
    color: #7797e6;
}

/* media screeen for smaller screens */ 
@media screen and (max-width: 700px) {
    .items {
        flex-basis: 45%;
    }
    .tiles-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .content-items {
        flex-direction: column;
    }

    .items {
        height: 10px;
    }

    .tiles-title {
        font-size: 16px;
    }


}

/* services section */

#services {
    margin-top: 100px;
}

.service-title {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    background: #7797e6;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.service-title a {
    width: 40px;
    height: 40px;
    background: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.flex-items {
    margin-top: 100px;
}

/* media screen for smaller screens */

@media screen and (max-width: 970px) {
    .service-title {
        justify-content: space-between;
        padding: 5px 10px;
    }

    .tiles-title {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .service-title {
        width: 80%;
        justify-content: space-evenly;
        padding: 5px 15px;
        font-size: 25px;
    }
}


/* hero3 section */

#hero3{
    background: url(images/hero3_background.webp);
    margin: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
}

.testimony-slides {
    background: transparent;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    margin-right:0;
    overflow: hidden;
}

.testimony-div {
    flex-basis: 40%;
    display: block;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    height: 350px;
    background: #7797e6;
}

.top-sec {
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.testimony-div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.client-name {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.bottom-sec {
    margin-top: 15px;
    color: white;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.test-selected {
    background: white!important;
}


.book-div {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.blue-ball {
    background: #7797e6;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
}

.top-left {
    left: -20px;
    top: 0;
}

.bottom-right {
    right: 150px;
    bottom: -40px;
    z-index: -1;
}

/* media screen for smaller devices */

@media screen and (max-width:1020px) {
    .bottom-sec {
        font-size: 17px;
    }
}

@media screen and (max-width:850px) {
    .testimony-div img {
        width: 70px;
        height: 70px;
    }
    .client-name {
        font-size: 20px;
    }
    .bottom-sec {
        font-size: 15px;
    }
}

@media screen and (max-width:750px) {
    .bottom-sec {
        font-size: 15px;
    }

    .testimony-slides {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .slider > a {
        top: 12px;
    }
}

@media screen and (max-width:700px) {
    .client-name {
        font-size: 23px;
    }
    .testimony-div img {
        width: 80px;
        height: 80px;
    }

    .slider > a {
        top: 12px;
        padding: 10px;
    }
    .bottom-right {
        right: 70px;
    }

    .content-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 550px) {
    .bottom-right {
        right: 10px;
    }

    .testimony-div {
        margin-top: 15px;
    }
}

/* footer section */

#footer {
    z-index: 1;
    background: #7797e6;
    margin-top: 20px;
    padding: 45px;
}

.footer-details {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.footer-title {
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.footer-links {
    flex-basis: 33%;
    width: 100%;
    line-height: 25px;
}

.social-media-icons {
    display: flex;
    width: 100%;
}

.social-media-icons img {
    padding-top: 15px;
    width: 15%;
}

.social-media-icons {
    flex-basis: 33%;
}

.contact-footer {
    flex-basis: 33%;
}

/* media screen for smaller screens */
@media screen and (max-width: 1000px) {
    .footer-details {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .footer-details {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .footer-details {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    .footer-links, .social-media-links, .contact-footer {
        margin-top: 15px;
    }

    .social-media-icons img {
        padding-top: 15px;
        width: 25%;
    }
}


/* form styling */

.button {
    background: #4CAF50;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
}

.form {
    background: #7797e6;
    display: block;
    padding: 24px;
    width: 90%;
    margin: auto;
    position: fixed;
    left: 0;
    border-radius: 10px;
    align-items: center;
    transform: scale(1.5);
    top: -1150px;
    transition: transform ease-in .5s,
    opacity ease-in .5s;
    opacity: 0;
    z-index: 555;
}

@media screen and (min-width:600px) {
    .form {
        width: 90%;
    }

}

@media screen and (min-width:750px) {
    .form {
        width: 50%;
    }  
}

@media screen and (min-width:950px) {
    .form {
        width: 600px;
    }

    
}
.form-button {
    cursor: pointer;
}

.form.active {
    top: 30px;
    right: 0;
    transform: scale(1);
    opacity: 1;
}

label {
    font-size: 15px;
    font-family: cursive;
    color: white;
}

input {
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 8px 0;
}



input[type = submit] {
    width: 40%;
    margin: 15px auto;
    color: #7797e6;
    background: #efefef;
    font-size: 18px;
    height: fit-content;
    cursor: pointer;
}

select {
    width: 50%;
    margin: auto;
    height: 50px;
    background: white;
    color: back;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    width: 100%;
    color: #7797e6;
    background: white;
    height: fit-content;
    padding: 5px 10px;
}

.close-button {
    background: grey;
    padding: 5px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    color: white;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}


/* faq page styling  */

/* banner section */
#banner {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    padding: 50px;
    height: 400px;
}

.faq-section {
    background: linear-gradient(rgba(0,0,0,.5), #7797e6), url(images/question.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-info {
    padding: 24px;
    width: 92%;
    margin: auto;
}

.question-title {
    font-style: italic;
    font-size: 25px;
    margin-bottom: 25px;
}

#question-div {
    width: 100%;
    background: #efefef;
}

.question-section {
    width: 92%;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}

.conversation {
    width: 100%;
    align-items: left;
    border: 1px solid black;
    padding: 24px;
    transition: all 1s;
}

.client-QA {
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    background: #7797e6;
    color: white;
    display: flex;
    justify-content: space-between;
}

.open-qa-btn {
    width: 40px;
    transition: 1s;
    cursor: pointer;
}

.open-qa-btn.up {
    transform: rotate(180deg);
}

.response {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: -40px;
    transition: 1s  ;
}

.response.opened {
    position: relative;
    z-index: 1;
    opacity: 1;
    top: 0;
}

.enquiry-title {
    color: white;
    font-size: 20px;
    font-style: italic;
    word-spacing: 5px;

}

.enquiry {
    background: #7797e6;
    display: block;
    padding: 24px;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    align-items: center;
}

/* media screen for the enqiury form */

@media screen and (max-width: 1070px) {
    .enquiry {
        width: 65%;
    }
}

@media screen and (max-width: 750px) {
    .enquiry {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {
    .enquiry {
        width: 80%;
    }
    .enquiry-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .enquiry {
        width: 95%;
    }
    .enquiry-title {
        font-size: 15px;
    }
}



/* about us page styling */

.about-us {
    background: linear-gradient(rgba(0,0,0,.5), #7797e6), url(images/about_us.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-div {
    margin-top: 30px;
    width: 100%;
    background: #efefef;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
}

.about-pic {
    flex-basis: 40%;
    width: 100%;
    padding: 5px;
}

.about-pic img {
    width: 70%;
    border-radius: 15px;
    padding: 10px;
}

.about-info {
    flex-basis: 40%;
    text-align: justify;
    align-items: left;
}

.blue-title {
    color: #7797e6;
    margin-bottom: 20px;
}

/* about section media screen styling */

@media screen and (max-width:850px) {
    .about-div {
        flex-direction: column-reverse;
    }

    .about-info {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .about-pic {
        width: 80%;
        margin: auto;
    }

    .about-pic img {
        width: 70%;
    }
}

@media screen and (max-width:550px) {
    .about-pic img {
        width: 100%;
    }
}


/* skills styling */
#skills {
    background: white;
    width: 100%;
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.skills-div {
    flex-basis: 40%;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.skills-title {
    color: #51669b;
    padding-bottom: 24px;
    align-items: center;
    font-style: normal;
    text-transform: capitalize;
}

.skills-div ul li {
    padding: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

.f-list-style {
    transform: translateX(40px);
}

.ff-list-style {
    transform: translateX(20px);
}

.skills-pic {
    width: 100%;
    flex-basis: 45%;
    margin: 10px;
}

.skills-pic img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:850px) {
    #skills {
        flex-direction: column;
        width: 100%;
    }

    .skills-div {
        width: 92%;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
    }

    .skills-title {
        font-size: 32px;
    }

    .f-list-style, .ff-list-style {
        transform: none;
    }

    .skills-pic {
        width: 92%;
        margin: auto;
        align-items: center;
    }

    .skills-pic img {
        width: 100%;
    }
}

/* testimony section in about page */
#about-test {
    background: #efefef;
    padding: 24px 0;
}

.about-test-div {
    width: 92%;
    margin: auto;
    align-items: center;
}

.about-test-header {
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

.client-title {
    color: #7797e6;
    font-style: normal;
    text-transform: capitalize;
}

.p2 {
    font-style: italic;
    font-size: 19px;
    color: #4CAF50;
}

.about-test-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;   
}

.about-test-col {
    flex-basis: 30%;
    border: 1px solid black;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 5px #51669b;
    transition: .7s;
    cursor: pointer;
    margin-bottom: 15px;
}

.about-test-col:hover {
    transform: translateY(-10px);
}

.about-test-col img {
    position: absolute;
    top: 35px;
    left: -30px;
    width: 20%;
    border-radius: 5px;
}

.test-client-name {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.client-occupation {
    font-size: 15px;
    font-weight: 100;
    color: grey;
    margin-bottom: 10px;
}

.client-testimony {
    word-spacing: 2px;
    line-height: 20px;
    text-align: justify;
    color: #7797e6;
}

@media screen and (max-width:950px) {
    .about-test-col {
        flex-basis: 45%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:650px) {
    .about-test-container {
        flex-direction: column;
        width: 88%;
        margin: auto;
    }

    .about-test-col {
        padding-left: 80px;
    }

    .about-test-col img {
        width: 15%;
    }
}







/* Services page styling  */

.service {
    background: url(images/services_image.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-section {
    background: #efefef;
    width: 100%;
    margin: 10px auto;
}

.flex-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding: 24px;
    flex-wrap: wrap;
}

.service-container {
    width: 92%;
    padding: 24px;
}

.flex-box {
    flex-basis: 45%;
}

.service-box {
    width: 90%;
    border: .5px solid black;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    box-shadow: 1px 1px 20px #7797e6;
    transition: .7s;
}



.service-box:hover {
    transform: translateY(-5px);
    background: #51669b;
    color: white;
}

.service-box:hover .service-heading {
    color: white;
}

.service-box:hover img {
    transform: rotateY(360deg);
}

.service-box img {
    width: 70px;
    height: 70px;
    padding: 15px;
    background: #7797e6;
    margin: auto;
    border-radius: 50%;
    transition: .5s;
}

.service-heading {
    color: #7797e6;
    font-style: normal;
    padding: 10px 0;
    font-size: 25px;
}

.service-box-desc {
    font-size: 18px;
    font-weight: 300;
    word-spacing: 10px;
}

.view-btn {
    margin-top: 10px;
    background: #7797e6;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    transition: .7s;
}

.view-btn:hover {
    color: #7797e6;
    background: white;
}


/* procedure section styling */

.procedure-section {
    width: 100%;
    background: #efefef;
    margin-top: 25px;
    padding: 24px 0;
}

.procedure-intro {
    width: 90%;
    margin: auto;
    text-align: center;
}

.intro-small {
    font-size: 18px;
    font-weight: bold;
}

.intro-large {
    font-size: 25px;
    font-weight: 300;
}

.big-zoena {
    color: #7797e6;
    font-size: 30px;
    font-style: italic;
}

.procedure-container {
    width: 92%;
    padding: 24px;
}

.procedure-box {
    width: 90%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    transition: .7s;
}

.step-indicator {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #7797e6;
    margin: auto;
    padding-top: 15px;
    position: relative;
    bottom: -20px;
    z-index: 2;
}



.procedure-desc-title {
    box-shadow: 1px 5px 1px 5px #7797e6;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25%;
    transition: .5s;
}

.procedure-desc-title p {
    font-size: 25px;
    font-weight: 300;
}

.procedure-desc-info {
    width: 80%;
    margin: 30px auto;
}

.procedure-desc-title:hover {
    transform: translateY(-5px);
    color: white;
    background: #7797e6;
}

/* misc section */

.misc-section {
    width: 100%;
    background: #7797e6;
    position: relative;
    padding-top: 50px;
    padding-left: 10px;
    z-index: 1;
}

.misc-container {
    z-index: 5;
    color: white;
    margin-top: 70px;
}


.misc-intro-small {
    padding: 25px 0;
    font-size: 20px;
    font-weight: lighter;
}

.misc-intro-large {
    padding: 5px 0 55px 0;
    font-size: 35px;
}

.underline {
    text-decoration: underline;
    color: gold;
}

.misc-contact-div {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
}

.misc-btn {
    background: gold;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    z-index: 66;
    text-transform: capitalize;
}

.misc-btn:hover {
    background: white;
}

.misc-contact-div p {
    padding-left: 15px;
    margin-top: 20px;
    font-size: 20px;
}

.misc-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .2;
}


/* media styling for smaller screens */

@media screen and (max-width:950px) {
    .flex-box {
        flex-basis: 45%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .procedure-desc-title {
        height: 200px;
        width: 200px;
        padding-top: 30%;
    }

    .procedure-desc-title p {
        font-size: 20px;
    }
}

@media screen and (max-width:650px) {
    .flex-container {
        flex-direction: column;
        width: 88%;
        margin: auto;
    }

    .about-test-col {
        padding-left: 80px;
    }

    .about-test-col img {
        width: 15%;
    }
    .procedure-desc-title {
        height: 225px;
        width: 225px;
        padding-top: 25%;
    }

    .procedure-desc-title p {
        font-size: 22px;
    }
}

@media screen and (max-width:500px) {
    .procedure-desc-title {
        height: 200px;
        width: 200px;
        padding-top: 30%;
    }

    .procedure-desc-title p {
        font-size: 20px;
    }

    .procedure-desc-info {
        font-size: 15px;
    }
}



/* styling the more details window */
.more-details-section {
    width: 50%;
    background: #7797e6;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    padding-left: 25px;
    padding-right: 10px;
    top: 200px;
    left: 200px;
    opacity: 0;
    transform: scale(1.5);
    transition: transform 1s;
    z-index: -555;
}

.long-line {
    width: 80%;
    border:1px solid gold;
}

.details-full {
    text-align: justify;
    margin: 10px auto;
}


.done-btn {
    margin-top: 50px;
    padding: 5px 55px;
    color: #7797e6;
    cursor: pointer;
    margin-bottom: 20px;
}

.more-details-section.active {
    opacity: 1;
    transform: scale(1);
    z-index: 555;
}

@media screen and (max-width: 920px) {
    .more-details-section {
        top: 120px;
        width: 90%;
        left: 10px;
    }
}